<h1><%= t("proposals_picker.choose_proposals", scope: "decidim.proposals") %></h1>

<input type="text" name="proposals-filter" id="proposals_filter" 
  placeholder="<%= t("decidim.admin.filters.search_placeholder.id_string_or_title_cont", 
  collection: proposals_collection_name) %>"
>

<div class="picker-content picker-list" data-picker-path="<%= picker_path %>" data-picker-more="<%= more_proposals? %>">
  <%= render :proposals %>
</div>

<div class="picker-footer">
  <div class="buttons button--double">
    <a id="cancel__picked" data-close="" class="button secondary hollow"><%= t("proposals_picker.cancel", scope: "decidim.proposals") %></a>
    <a class="button" id="submit-proposals-link" data-close=""><%= t("proposals_picker.close", scope: "decidim.proposals") %></a>
  </div>
</div>

<%= javascript_pack_tag "decidim_proposals_admin" %>

<script>
  if (typeof button === 'undefined') {
    let button = document.getElementById("submit-proposals-link");

    button.addEventListener("click", () => {
      let submit = document.getElementById("close_meeting-submit");
      submit.querySelector("button").click();
    });
  }
</script>