<% I18n.with_locale(:en) do %>
  <div class="login-container">
    <h1><%= t(".sign_up") %></h1>
    <p class="foreign-subtitle">
      <%= t(".subtitle") %>
      <br>
      <%= t(".subtitle_help") %>
    </p>
    <p class="foreign-subtitle">
      <%= t(".already_have_an_account?") %>
      <%= link_to t(".sign_in"), new_user_session_path %>
    </p>

    <%= decidim_form_for(@form, namespace: "registration", as: resource_name, url: registration_path(resource_name),
                         html: { class: "new_user", id: "register-form" }) do |f| %>
      <%= invisible_captcha %>

      <div class="sign_up-card">
        <div class="foreign-form-explanation">
          <%= t("forms.required_explanation") %>
        </div>
        <div class="user-person">
          <div class="br-input input-highlight bp-input">
            <%= f.text_field :name, help_text: t(".username_help"), autocomplete: "name" , placeholder: "Ex: William Roberts" %>
          </div>
        </div>
        <div class="user-nickname">
          <div class="br-input input-highlight foreign_input">
            <%= f.text_field :nickname, help_text: t(".nickname_help", organization: current_organization.name), autocomplete: "nickname", placeholder:"yournickname"  %>
          </div>
        </div>
        <div class="br-input input-highlight bp-input">
          <%= f.email_field :email, autocomplete: "email" , placeholder: "Ex: example@email.com" %>
        </div>
        <div class="br-input input-highlight bp-input">
          <%= f.password_field :password, { autocomplete: "new-password", placeholder: "•••••••••••••••••••••" } %>
        </div>
        <div class="br-input input-highlight bp-input">
          <%= f.password_field :password_confirmation, { placeholder: "•••••••••••••••••••••", help_text: simple_format(t(".password_help")) } %>
        </div>
      </div>
      <div class="sign_up-card">
        <div id="card__tos"></div>
      </div>
      <div class="sign_up-card">
        <div class="submit-foreign-form-content">
          <h3><%= t(".tos_title") %></h3>
          <div class="field">
            <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), 'https://brasilparticipativo.presidencia.gov.br/processes/brasilparticipativo/f/211/')) %>
          </div>
        </div>
        <div class="submit-foreign-form-content" id="card__newsletter">
          <h3><%= t(".newsletter_title") %></h3>
          <div class="field">
            <%= f.check_box :newsletter, label: t(".newsletter"), checked: @form.newsletter %>
          </div>
        </div>
      </div>
      <div class="sign_up-card">
        <%= f.submit t(".sign_up"), class: "br-button block primary" %>
        <%= yield :devise_links %>
      </div>
      <% content_for :devise_links do %>
        <%= render "decidim/devise/shared/links" %>
      <% end %>
    <% end %>
  </div>
<% end %>
